:root {
  --akcaen-color: #4d5ae5;
  --dark-bg-color: #2e2f42;
  --title-color: #2e2f42;
  --text-color: #434455;
  --button-bg-color: #404bbf;
  --main-bg-color: #ffffff;
  --team-bg-color: #f4f4fd;
  --btn-text-white: #ffffff;
  --button-color: #4d5ae5;
  --footer-text: #e7e9fc;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

/* -----utilities-------- */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

.picture {
  display: block;
}

/* -----------header and logo--------------*/

.header {
  border-bottom: 1px solid var(--footer-text);
}

.maim-nav {
  display: flex;
  align-items: center;
  height: 74px;
}

.navigation {
  display: flex;
}

.header .logo {
  margin-right: 76px;
}

.header .logo,
.footer .logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--akcaen-color);
}

.header .logo:hover,
.header .logo:focus {
  text-decoration: underline;
}

.header .logo-studio {
  color: var(--title-color);
}

.style-nav {
  display: flex;
}

.style-nav .item:not(:last-child) {
  margin-right: 40px;
}

.addres-items .item:not(:last-child) {
  margin-right: 40px;
}

.style-nav .link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.style-nav .link:hover,
.style-nav .link:focus,
.addres .link:hover,
.addres .link:focus {
  color: var(--button-bg-color);
}

.link {
  text-decoration: none;
}

.addres {
  font-style: normal;
  margin-left: auto;
}

.addres-items {
  display: flex;
}

.addres .link {
  color: var(--text-color);
  font-weight: 400;
}

/* -----------Sections ---------------*/

/* ___hero___ */

.hero {
  background-color: var(--dark-bg-color);
}

.hero-item {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero .title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  color: var(--main-bg-color);
}

.hero .btn {
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--btn-text-white);
  background-color: var(--akcaen-color);
  cursor: pointer;
}

.hero .btn:hover,
.hero .btn:focus {
  color: var(--akcaen-color);
  background-color: var(--btn-text-white);
}

/* ------Features--------- */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-items {
  display: flex;
  gap: 24px;
}

.features-items .item {
  flex-basis: calc((100% - 24px) / 4);
}

.features .title,
.team .title,
.filter .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  margin: 0;
}

/* ------------Services------------- */

.services {
  padding-bottom: 120px;
}

.services-items {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.services-items .item {
  flex-basis: calc((100% - 24px) / 3);
}

/* --------------Our Team----------------- */
.team {
  background-color: var(--team-bg-color);
}

.team-cotainer {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-title {
}

.team .main-title,
.services .main-title {
  margin-bottom: 72px;
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
}

.team-items {
  display: flex;
  gap: 24px;
}

.team-items .item {
  flex-basis: calc((100% - 24px) / 4);
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  margin: 32px 16px;
  text-align: center;
}

/* --------portfolio-------------- */

.portfolio {
}

.button-style {
  padding-top: 96px;
  display: flex;
  justify-content: center;
}

.button-style .filters-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 48px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: inherit;

  color: var(--button-color);
  background-color: var(--team-bg-color);
  cursor: pointer;
  border: 1px solid var(--footer-text);
  border-radius: 4px;
}
.button-style .item {
  margin-right: 24px;
}

.button-style .item:nth-last-child() {
  margin-right: 0;
}

.filters-button {
}

.filters-button:focus,
.filters-button:hover {
  color: var(--main-bg-color);
  background-color: var(--button-color);
}

.portfolio-items {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-items .item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-items .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-items .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
  padding-bottom: 120px;
}

.item-info {
  border: 1px solid var(--footer-text);
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.filter .text {
  color: var(--text-color);
  padding-left: 16px;
}

.filter .title {
  padding-left: 16px;
}

/* -----------------Footer--------------- */

.footer {
  background-color: var(--dark-bg-color);
}

.footer-items {
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo-studio {
  color: var(--team-bg-color);
}

.footer .logo {
  margin-bottom: 16px;
}

.footer .text {
  color: var(--footer-text);
  max-width: 264px;
}
